.footers-head{
  text-align: center;
  height: 270px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $primaryColor2;
  
  h1{
   margin-bottom: 1rem;
   font-size: 2rem;
   color: $lightColor; 
   z-index: 3;
  }
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("https://raw.githubusercontent.com/irfan-fauzi/Shortly-landing/6caa3eb177df56a4f17c60e6bfcddabe00030be0/images/bg-boost-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
}