header{
  border: black solid 1px;
  .navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menus{
      display: flex;
      &__sub-menu{
        margin-left: 1rem;
      }
    }
    .flex{
      .login{
        margin-right: 2rem;
      }
    }
  }
}